In [1]:
import pandas as pd

In [2]:
bp_df = pd.read_csv("black_panther_demography.csv")
mm_df = pd.read_csv("mama_mia_demography.csv")
mg_df = pd.read_csv("marigold_demography.csv")

In [14]:
# bp_df

In [6]:
bp_df.direct_age_group.value_counts(normalize=True)

direct_age_group
Up to 50    0.890963
Over 50     0.109037
Name: proportion, dtype: float64

In [7]:
mm_df.direct_age_group.value_counts(normalize=True)

direct_age_group
Up to 50    0.825782
Over 50     0.174218
Name: proportion, dtype: float64

In [8]:
mg_df.direct_age_group.value_counts(normalize=True)

direct_age_group
Up to 50    0.51652
Over 50     0.48348
Name: proportion, dtype: float64

In [11]:
bp_df.dominant_gender.value_counts(normalize=True)

dominant_gender
Male      0.727782
Female    0.272218
Name: proportion, dtype: float64

In [12]:
mm_df.dominant_gender.value_counts(normalize=True)

dominant_gender
Female    0.682987
Male      0.317013
Name: proportion, dtype: float64

In [13]:
mg_df.dominant_gender.value_counts(normalize=True)

dominant_gender
Female    0.666667
Male      0.333333
Name: proportion, dtype: float64