In [1]:
import pandas as pd

In [2]:
bp_df = pd.read_csv("black_panther_demography.csv")
mm_df = pd.read_csv("mama_mia_demography.csv")
mg_df = pd.read_csv("marigold_demography.csv")

In [3]:
bp_df

,Unnamed: 0,frame_id,face_id,dominant_gender,gender,dominant_age,age,age_group,max_sum_age,direct_age_group
0,0,100110,0,Male,"{'Male': 0.9920753841150352, 'Female': 0.00792...",30-39,"{'0-2': 3.4232753184749175e-05, '3-9': 0.00017...",Up to 50,"{'Over 50': 0.05345732483207938, 'Up to 50': 0...",Up to 50
1,1,100575,0,Female,"{'Male': 0.010963938539222284, 'Female': 0.989...",20-29,"{'0-2': 0.00012895599167318044, '3-9': 0.00565...",Up to 50,"{'Over 50': 0.006015268265564788, 'Up to 50': ...",Up to 50
2,2,100595,0,Female,"{'Male': 0.004731579353561055, 'Female': 0.995...",10-19,"{'0-2': 6.599179871213481e-05, '3-9': 0.211193...",Up to 50,"{'Over 50': 9.935110876290853e-06, 'Up to 50':...",Up to 50
3,3,100600,0,Female,"{'Male': 0.003922197092231738, 'Female': 0.996...",10-19,"{'0-2': 6.119585866452785e-05, '3-9': 0.013567...",Up to 50,"{'Over 50': 0.0007246386262345304, 'Up to 50':...",Up to 50
4,4,100625,0,Female,"{'Male': 0.0022868266729261233, 'Female': 0.99...",20-29,"{'0-2': 0.00011796324374731946, '3-9': 0.00487...",Up to 50,"{'Over 50': 0.0009160332992345076, 'Up to 50':...",Up to 50
...,...,...,...,...,...,...,...,...,...,...
2673,2673,99095,0,Male,"{'Male': 0.9750454987649341, 'Female': 0.02495...",30-39,"{'0-2': 0.0026598540678559454, '3-9': 0.000665...",Up to 50,"{'Over 50': 0.08177138742157616, 'Up to 50': 0...",Up to 50
2674,2674,99100,0,Male,"{'Male': 0.9332274908849432, 'Female': 0.06677...",30-39,"{'0-2': 0.001084054675534194, '3-9': 0.0012861...",Up to 50,"{'Over 50': 0.04275313336958023, 'Up to 50': 0...",Up to 50
2675,2675,99115,0,Male,"{'Male': 0.8940419833878316, 'Female': 0.10595...",30-39,"{'0-2': 0.00013931263595488982, '3-9': 0.00077...",Up to 50,"{'Over 50': 0.2541982536543539, 'Up to 50': 0....",Up to 50
2676,2676,99120,0,Male,"{'Male': 0.9508892193411166, 'Female': 0.04911...",50-59,"{'0-2': 0.00012901136501672805, '3-9': 0.00020...",Over 50,"{'Over 50': 0.7580021640120433, 'Up to 50': 0....",Over 50
2677,2677,99125,0,Male,"{'Male': 0.9482140740911782, 'Female': 0.05178...",50-59,"{'0-2': 7.30095314795528e-05, '3-9': 0.0005267...",Up to 50,"{'Over 50': 0.40622910605189805, 'Up to 50': 0...",Over 50

In [4]:
bp_df.age_group.value_counts(normalize=True)

age_group
Up to 50    0.911128
Over 50     0.088872
Name: proportion, dtype: float64

In [6]:
mm_df.age_group.value_counts(normalize=True)

age_group
Up to 50    0.874744
Over 50     0.125256
Name: proportion, dtype: float64

In [8]:
mg_df.age_group.value_counts(normalize=True)

age_group
Up to 50    0.537078
Over 50     0.462922
Name: proportion, dtype: float64

In [11]:
bp_df.dominant_gender.value_counts(normalize=True)

dominant_gender
Male      0.727782
Female    0.272218
Name: proportion, dtype: float64

In [12]:
mm_df.dominant_gender.value_counts(normalize=True)

dominant_gender
Female    0.682987
Male      0.317013
Name: proportion, dtype: float64

In [13]:
mg_df.dominant_gender.value_counts(normalize=True)

dominant_gender
Female    0.666667
Male      0.333333
Name: proportion, dtype: float64